@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBALLY APPLIED CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];  
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

/* Gallery/Store Image Pics */
.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
  color: #555047;
}

/* Hover Effect for Gallery/Store*/
.content-div:hover {
  background-image: linear-gradient(
      to right,
    #F79D65,    
    #E6ADDD   
  )!important;
}